

.hero-section {
  /*background-image: url('/img/nainoa-shizuru-NcdG9mK3PBY-unsplash.jpg');*/
  /*background-repeat: no-repeat;*/
  /*background-size: cover;*/
  /*background-color: rgba(16, 16, 16, 0.91);*/
  /*background-blend-mode: multiply;*/
  width: 98vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero-section p {
  color: white;

}

.hero-section input[type=text] {
  width: 14rem;
  height: 2rem;
  margin: 0;
  background: transparent;
  border: white 10px;
}

button {
  background-color: #a10526;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 16px ;
}
